*.sw*
*.pyc
.*
dist
*egg-info
build/
.pybuild/
debian/raspisump/
debian/files
debian/.debhelper/
debian/*.debhelper*
debian/*.substvars
ttt.py
nosetests.xml
.noseids
docs/add.txt
venv/
no-binary-deprecation-messsage.txt
tmp/
CLAUDE.md
