include conf/raspisump.conf
include conf/csv/*
include conf/logs/*
include conf/charts/*
include conf/web/index.html
include conf/web/css/*
include conf/web/images/*
include docs/*.md
include docs/*.pdf
include cron/*
include README.md
include VERSION