.custom-btn {
    background-color: #007f7f; /* Custom color - red */
    color: #FFFFFF; /* Text color - white */
}

h1 {
	font-size:120%; 
	color: #007f7f;
   text-align:center;
	}

html,
body {
    padding-top: 4vh; /* Adjust the value to set the desired padding */
}
