
.navbar {
  background-color: #007f7f;
  color: #FFFFFF; 
  padding: 15px;
}
/*
.navbar-brand {
  color: #FFFFFF;
}

*/

.dropdown-menu {
  background-color: #007f7f;
}

.nav-item a {
  background-color: #007f7f;
  color: #FFFFFF; 
}

.nav-item a:focus {
  background-color: #007f7f;
  color: #FFFFFF;
}

.nav-item a:hover {
  background-color: #005a5a;
  color: #FFFFFF;
}

.nav-link a {
  background-color: #007f7f;
  color: #FFFFFF;
}

.nav-link a:hover {
  background-color: #005a5a;
  color: #FFFFFF;
}
