[Unit]
Description=RaspiSump Service
After=network.target

[Service]
ExecStart=/usr/bin/rsump
Restart=always
User=raspisump
UMask=0002
WorkingDirectory=/var/lib/raspi-sump
StateDirectory=raspi-sump
StateDirectoryMode=0770
LogsDirectory=raspi-sump
LogsDirectoryMode=0770

[Install]
WantedBy=multi-user.target
