[Unit]
Description=RaspiSump Service
After=network.target

[Service]
ExecStart=/usr/bin/rsump.py
Restart=always
User=raspisump
Group=gpio
StateDirectory=raspi-sump
LogsDirectory=raspi-sump

[Install]
WantedBy=multi-user.target
