Package: raspisump
Version: 2.0~rc3
Architecture: all
Maintainer: Al Audet <alaudet@linuxnorth.org>
Installed-Size: 156
Depends: python3:any, python3-pinsource, python3-mastodon, python3-matplotlib, adduser, nginx
Section: misc
Priority: optional
Homepage: https://www.linuxnorth.org/raspi-sump/
Description: Sump pit monitoring system for Raspberry Pi
 Raspi-Sump monitors a sump pit water level using an HC-SR04 ultrasonic
 distance sensor connected to a Raspberry Pi. It logs water levels,
 generates charts, and sends alerts via email or Mastodon when the water
 level reaches a critical threshold.
