[Unit]
Description=RaspiSump Webchart Service

[Service]
ExecStart=/usr/bin/rsumpwebchart
User=raspisump
UMask=0002

[Install]
WantedBy=multi-user.target
